* {
    text-align: center;
}

.Container {
    margin: auto;
    padding: 0px;
}

img {
    height: auto;
    width: 300px;
    text-align: center;
}

.Janette {
    padding-bottom: 40px;
}

.Chris {
    padding-bottom: 40px;
}

.Jonny {
    padding-bottom: 40px;
}

.Carlos {
    padding-bottom: 30px;
}