* {
    text-align: center;
} 

.Container {
    margin: auto;
    padding: 0px;
    text-align: justify;
    text-align: center;
    
}

.LeftBox {
    display: inline-block;
    padding: 30px;
    width: 320px;
    margin: auto;
    vertical-align: text-top;
}

.MiddleBox {
    display: inline-block;
    padding: 30px;
    width: 320px;
    margin: auto;
    vertical-align: text-top;
}

.RightBox {
    display: inline-block;
    padding: 30px;
    width: 320px;
    margin: auto;
    vertical-align: text-top;
}
